<script setup lang="ts">

import MainLayout from '@/layout/MainLayout.vue';
import FullLayout from '@/layout/FullLayout.vue';
import LoadingDialog from './components/LoadingDialog.vue';
import MessageDialog from './components/MessageDialog.vue';

</script>

<template>
  <MainLayout></MainLayout>
  <LoadingDialog></LoadingDialog>
  <MessageDialog></MessageDialog>
</template>

<style scoped></style>
